@charset "utf-8";

body {
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood.png);
  font-family: sans-serif;
  padding:0;
}

h1 {
  font-family: 'Norican', cursive;
  text-align: center;
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px dotted #666;
}

.wrapper {
  border:1px solid #fff;
  padding: 20px;
  background: rgba(0,0,0,0.2);
  position: relative;
  min-width: 650px;
}

aside {
  width: 280px;
  background: rgba(0,0,0,0.2);
  padding: 20px;
}

section {
  margin-left: 360px;
  background: rgba(255,255,255,0.4);
  padding: 20px;
  position: absolute;
  top:20px;
  right: 20px;
  max-height: 352px;
  overflow: auto;
}

footer{
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}