%header
	%h1 Liquid Section
.wrapper
	%aside
		%h2 Aside Fixed
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae arcu enim. Vestibulum bibendum laoreet mauris id pretium. Proin lacinia odio a odio malesuada eu pellentesque orci semper. Mauris placerat dignissim placerat. Donec sit amet sem vitae elit faucibus aliquam. Donec elit dui, bibendum ac porta quis, porttitor venenatis felis. Donec at est sodales nisl lobortis ultrices. Mauris eget elit tellus. Aliquam ac porttitor sapien. Cras in metus vel urna commodo laoreet at id mauris. Nam ultricies fermentum lorem, at suscipit justo mollis et.
	%section
		%h2
			Section Liquid
		%p
			Maecenas consectetur, libero vel cursus condimentum, urna arcu vestibulum ligula, sed pretium nunc urna nec turpis. Mauris nec ultricies magna. Maecenas consectetur, urna ut gravida facilisis, urna mi pretium tortor, sed mattis augue enim ut leo. Pellentesque quis libero leo. Sed consequat, arcu sed tempus dignissim, leo quam interdum turpis, gravida gravida massa nibh non magna. Praesent pellentesque mi nec massa hendrerit nec scelerisque nulla scelerisque. Integer auctor tincidunt pellentesque. In dui lacus, posuere id egestas eu, molestie sed libero. Donec leo massa, rutrum a tincidunt et, vehicula sit amet nunc.
		%p
			Fusce luctus sem vel magna ultrices eu sodales massa lobortis. Duis at erat elit, non venenatis lectus. Pellentesque ullamcorper lobortis metus, sed feugiat nisl consectetur in. Nunc massa elit, vehicula tempor luctus eget, malesuada ut nisi. Mauris elementum faucibus aliquet. Nunc sollicitudin est metus. Duis ultricies dui turpis, ac vehicula magna. Nunc a eros vel eros interdum pulvinar. Proin pellentesque ullamcorper mollis. Nullam at volutpat magna. Ut leo dui, venenatis sed pharetra in, condimentum et dui. Vestibulum ornare arcu quis enim consectetur laoreet.
%footer
	%p
		This is a personal experiment without Javascript to control section automatically width relative to window. Pure positioning CSS.
		%span
			By
			%a{:href => "http://ricardoalfaro.cl"} Ricardo Alfaro