!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
		%meta{:property => "Title", :content => "LiquidSection"}
		%meta{:property => "Description", :content => "This is a personal experiment without Javascript to controller automatic width section with viewport. Only CSS Positioning."}
		%title Liquid Section JS
		%link{:rel=>"stylesheet", :href=>"http://fonts.googleapis.com/css?family=Norican"}
		= stylesheet_link_tag "all.css"
		%script{:src => "http://code.jquery.com/jquery-1.7.1.min.js", :type => "text/javascript"}
		= javascript_include_tag "script.js"
		= yield_content :head
	%body{:class => page_classes}
		= yield



